.shine {
    height: 75px;
    width: 10px;
    overflow: hidden;
    content: '';
    position: absolute;
    background: blue;
    z-index: 1000;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    transition: left 1s ease-in-out;
    animation: shineAnimation 1s forwards;
    transform: rotate(30deg);
}

@keyframes shineAnimation {
    0% {
        transform: translate(-250px, -170%) rotate(15deg);
        border-radius: 10px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(250px, -170%) rotate(15deg);
        border-radius: 10px;
        opacity: 0;
    }
}

.buttonWithHover {
    margin-top: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

.buttonWithHover:hover {

}
